<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>   Drowsiness Detection   </title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="./static/css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="./static/css/owl.theme.default.css" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="./static/css/magnific-popup.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="./static/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="./static/css/style4.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./static/img/newbg.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
								<img class="w3-border w3-padding" src="./static/img/logofinal.png" alt="logo">
							<a href=#service><button class="main-btn">Detect Drowsiness</button></a>
						</div>
						<center><font size="4" color="white">Know whether you are drowsy or not!</font></center>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Start the Art</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i color=#38b6ff class="fa fa-mouse-pointer"></i>
						<h1>1</h1>
						<h3><font color=#38b6ff>Select Category</font></h3>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-image"></i>
						<h1>2</h1>
						<h3><font color=#38b6ff>Hit generate and choose an image</font></h3>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-download"></i>
						<h1>3</h1>
						<h3><font color=#38b6ff>Hit generate and choose an image</font></h3>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->


	<!-- gallery -->
	<div id="gallery" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Gallery</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/12.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
							<a href="./static/img/12.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/13.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/13.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/14.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/14.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/15.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/15.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/16.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/16.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/17.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/17.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/18.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/18.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/19.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/19.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/20.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/20.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/21.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/21.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/22.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/22.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-2 col-xs-4 work">
					<img class="img-responsive" src="./static/img/26.png" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<div class="work-link">
								<a href="./static/img/26.png" download><i class="fa fa-download"></i></a> 
						</div>
					</div>
				</div>
				<!-- /Work -->

				<button class="white-btn">Gallery</button>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->
	</div>
	<!-- /gallery -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Generate Painting</h2>
				</div>
				<!-- /Section header -->

				<div class="container">
						<div class="form-group">
							<font size="6"><label for="sel1">Choose category of painting:</label>
							<select class="form-control" id="select1">
							  <option>Potrait</option>
							  <option>Landscape</option>
							  <option>Genre</option>
							  <option>Abstract</option>
							  <option>Religious</option>
							  <option>Cityscape</option>
							  <option>Figurative</option>
							  <option>Still-Life</option>
							  <option>Symbolic</option>
							  <option>Exposive</option>
							  <option>Marina</option>
							  <option>Flower</option>
							  <option>Animal</option>
							</select></font>
						</div>
						<div class="container">							
							    <center><a href="/index2/"><button class="main-btn">Generate</button></a></center>
								{% if select1 %}
								  <p class="error"><strong>Error:</strong> {{ error }}
								{% endif %}
						</div>
					
				</div>
			</div>
		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">About Us</h2>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>We are group students from Nanyang Technological University pursing Undergraduate degrees in Computer Engineering and Electrical Engineering.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>We believe that emotions enable us to embrace life with honesty, creativity, and enthusiasm.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p> Finding a way to express these emotions through paintings helps discover your inner self and gives peace of mind.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Our vision is to help you find the right paintings you can use to express yourself.</p>
					</div>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="./static/img/about1.jpeg" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

	<!-- Testimonial -->
	<div id="testimonial" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./static/img/background3.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="./static/img/vijaismall.jpeg" alt="">
								<h3 class="white-text">Vijai</h3>
								<span>Publicity</span>
							</div>
							<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="./static/img/rohansmall.jpeg" alt="">
								<h3 class="white-text">John Doe</h3>
								<span>Leader</span>
							</div>
							<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
								<div class="testimonial-meta">
									<img src="./static/img/joemesmall.jpg" alt="">
									<h3 class="white-text">Joe</h3>
									<span>Web design</span>
								</div>
								<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
							</div>
							<!-- /testimonial -->
						
						<!-- testimonial -->
						<div class="testimonial">
								<div class="testimonial-meta">
									<img src="./static/img/author.jpg" alt="">
									<h3 class="white-text">Siddesh</h3>
									<span>Back end</span>
								</div>
								<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
							</div>
							<!-- /testimonial -->

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->

	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Team</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-3">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="./static/img/vijai1.jpeg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://github.com/Vijaikri001"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Vijai </h3>
							<span>Publicity manager</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-3">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="./static/img/joeme.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Joe </h3>
							<span>Web Designer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-3">
					<div class="team">
						<div class="team-img">
								<center><img class="img-responsive" src="./static/img/rohan1.jpeg" alt=""></center>
							<div class="overlay">
								<div class="team-social">
										<a href="https://github.com/Blitzborg"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Rohan</h3>
							<span>Leader</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-3">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="./static/img/team2.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
										<a href="#"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Siddesh</h3>
							<span>Backend development</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				


				
			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-6">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>mrartest1@gmail.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-6">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>21 Nanyang Circle</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form">
						<input type="text" class="input" placeholder="Name">
						<input type="email" class="input" placeholder="Email">
						<input type="text" class="input" placeholder="Subject">
						<textarea class="input" placeholder="Message"></textarea>
						<button class="main-btn">Send message</button>
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="index.html"><img src="./static/img/logosmall.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://www.instagram.com/mrartest/"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>By NTU Southerners</p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="./static/js/jquery.min.js"></script>
	<script type="text/javascript" src="./static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="./static/js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="./static/js/main.js"></script>

</body>

</html>
